/* POPPINS FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #e9e9ed;
}

header {
  background-color: #4527FF;
  padding: 10px 40px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  color: #fff;
  padding: 10px 25px;
  font-weight: 200;
}

.nav-item-active {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #4527FF;
  margin-right: 15px;
}

.logo {
  height: 40px;
  margin-bottom: 50px;
}

.header-text h2{
  color: #fff;
  font-size: 35px;
  font-weight: 400;
}

.header-text p{
  color: #d4d0d0;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 100px;
}
.header-image {
  /* display: block; */
  position: absolute;
  top: 70px;
  right: 0px;
  /* width: 700px;
  height: 500px; */
}

.companies {
  padding: 20px 40px;
}
.company-items {
  color: #000;
  text-decoration: none;
  font-family: 'Righteous', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-right: 50px;
}

.api, .blog-heading{
  padding: 20px 40px;
}

.cards {
  display: flex;
  width: 98%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card {
  padding: 20px 20px;
  border-radius: 8px;
}
.card h3{
  font-weight: 600;
}

.card p{
  margin-top: -15px;
  font-size: 13px;
}
.active {
  background-color: #fff;

}
.card-head-active {
  color: #4527FF;
}
.angle {
  margin-left: 30px;
  background-color: #4527FF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg);
  position: relative;
  top: 10px;
  left: 7px;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  padding: 20px 40px;
  justify-content: space-between;
  overflow-x: hidden;
}
.blog-card {
  flex: 50%;
}
.blog-content {
  height: 289px;
  width: 40%;
  background-color: #fff;
  padding: 40px;
  position: relative;
  bottom: 294px;
  left: 250px;
  overflow:hidden;
  display: inline-block;
}
.blog-content h6 {
  margin-top: -20px;
  color: #4527FF;
}
.blog-content small {
  font-size: 12px;
}

.blog-bottom img{
  position: relative;
  left: 290px;
  bottom: 335px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.blog-author {
  position: relative;
  bottom: 193px;
  left: 180px;
  font-size: 10px;
}

.faq-section{
  margin-top: -320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E9EDFF;
}
.faq-content {
  padding-left: 40px;
}
.faq-content h2{
  font-size: 35px;
}

.faq-content h4{
  font-size: 10px;
  font-weight: lighter;
}
.faq-content h4:nth-child(3){
  font-size: 15px;
  font-weight: 600;
}
.faq-content button {
  background-color: #4527FF;
  border: none;
  color: #ccc9c9;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 12px;
}

.download-section {
  display: flex;
  padding: 80px 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.download-content span {
  font-weight: 300;
}
.download-email input {
  background-color: #E9EDFF;
  border: none;
  width: 460px;
  padding: 12px 25px;
  border-radius: 20px;
}
.download-email button {
  background-color: #4527FF;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: -40px;
}

.footer-section {
  background-color: #4527FF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}
.list {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-left: -50px;
}

.list-items {
  color: #c2bfbf;
  font-size: 12px;
  padding: 0px 15px;
  border-right: 1px solid #c2bfbf;
}
.footer-logos {
  padding: 10px;

}
.logos-list {
  display: flex;
  list-style-type: none;
  margin-left: -50px;
}